@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
}

/*  ---- Navbar ----  */

nav{
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
    align-items: center;
}

nav .logo{
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    color: #9b1fe9;
}

.menu{
    display: flex;
}

.menu a{
    margin-right: 50px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #1b1b1b;
    transition: 0.3s;
    text-decoration: none;
}

.menu a:hover{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #9b1fe9;
    transition: 0.3s;
}

.menu #Last{
    margin-right:0 ;
    font-size: 23px;
    color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    text-decoration: none;
}

.menu #Last:hover{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #9b1fe9;
    transition: 0.3s;
}

/*  ---- Homepage----  */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 0;
    margin-bottom: 100px;
}

.home .text{
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home>.text>.hi h5{
    font-size: 65px;
    font-weight: 300;
    color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}

.home>.text>.hi h3{
    font-size: 90px;
    color: #9b1fe9;
    font-family: 'Poppins', sans-serif;
}

.home>.text>.hi h6{
    font-weight: 400;
    font-size: 30px;
    color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}

.buttons button{
    width:200px;
    height: 55px;
    margin-top: 35px;
    background-color: #9b1fe9;
    border-radius: 20px;
    border: 0 ;
    transition: 0.3s;
}

.buttons button a{
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Poppins', sans-serif  ;
    font-size: 20px ;
    font-weight: 600 ;
    transition: 0.3s;
    padding: 20px;
}

.buttons button:hover{
    background-color: transparent;
    border: 3px solid #9b1fe9 ;
    transition: 0.3s;
}

.buttons button a:hover{
    color: #9b1fe9;
    transition: 0.3s;
}

/*  ---- About ----  */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about .title{
    font-size: 75px;
    font-family: 'Poppins' , sans-serif;width: 25%;
    color: #9c1fe9;
    transition: 0.3s;
    font-weight: 300;
}

#AB{
    margin-bottom: -40px;
}

.about .myinfo{
    width: 25%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #1b1b1b;
    transition: 0.3s;
}

/*  ---- Subjects ----  */

.subs{
    background-size: cover;
    background-attachment: fixed;
    background-image:linear-gradient(to right, rgba(29, 29, 29, 0.72), rgba(31, 31, 31, 0.58)),url(./imgs/pexels-fauxels-3184454.jpg) ;
    background-position: center;
}

.subsub{
    width: 80%;
    padding: 3%;
    padding-bottom: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: start;
    align-items:flex-start;
}

.subs .subj{
    width: 30%;
    margin-bottom: 3%;
}

.subj h4{
    color: #f1f1f1;
    font-size: 25px;
    font-family: 'Poppins',sans-serif;
}

.subj p{
    color: #f1f1f1;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
}